@model BankApp.Models.UpdateAccountModel

<form asp-action="UpdateAccount">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Update Account</h1>
        <hr />

        <input hidden asp-for="Id" />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="PhoneNumber" class="control-label pt-2" style="font-size:20px;"></label>

            </div>
            <div class="col-10 pb-3">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            </div>
            <div class="col-2">
                <label asp-for="Email" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Pin" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Pin" class="form-control" />
                <span asp-validation-for="Pin" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="ConfirmPin" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ConfirmPin" class="form-control" />
                <span asp-validation-for="ConfirmPin" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="DateLastUpdated" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="DateLastUpdated" class="form-control" />
                <span asp-validation-for="DateLastUpdated" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="AccountIndex" asp-controller="Account" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-success btn form-control" />
            </div>

        </div>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}